.principal-investigator {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.principal-investigator header {
  align-items: center;
  display: flex;
  margin-bottom: 1.5rem;
}

.principal-investigator  h2,
.principal-investigator  h3,
.principal-investigator  h4 {
  margin-bottom: 0;
}

.principal-investigator header h1,
.principal-investigator header h2,
.principal-investigator header h3,
.principal-investigator header h4 {
  margin-bottom: 0;
}


.principal-investigator section {
  margin: 2rem 0;
  max-width: 960px;
  width: calc(100vw - 3rem);
  margin: 2rem 0;
}



.principal-investigator__image {
  align-items: center;
  border: 2px solid var(--color-primary);
  border-radius: 0.3rem;
  display: flex;
  justify-content: right;
  height: 300px;
  margin-right: 1.5rem;
  min-width: 300px;
  width: 300px;
  float: right;
}


@media (max-width: 750px) {
  .principal-investigator__image {
    margin-bottom: 1.2rem;
    margin-right: 0;
    max-width: 300px;
    min-width: auto;
    width: 100%;
    float: none;
  }
}